 
/* Font: Freshid Condensed (Added via NoBadFonts CLI) */

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Bold Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Extra Bold Italic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Thin Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Extra Light.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Semi Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Extra Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Extra Light Italic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Light Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Regular Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Medium Italic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Freshid Condensed';
  src: url('/fonts/freshid-condensed/freshid-condensed-Semi Bold Italic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
                

@theme {
  --font-freshid-condensed: "Freshid Condensed", sans-serif;
}
    