@import url("https://www.nobadfonts.in/css/cigra");
@import url("https://www.nobadfonts.in/css/dx-alegant");
@import url("https://www.nobadfonts.in/css/dx-lactos");
@import url("https://www.nobadfonts.in/css/dx-gaster");
@import url("https://www.nobadfonts.in/css/rockinsoda");
@import url("https://www.nobadfonts.in/css/quivert");
@import url("https://www.nobadfonts.in/css/gf-krater");
@import url("https://www.nobadfonts.in/css/game-paused");
@import url("https://www.nobadfonts.in/css/firstly");
@import url("https://www.nobadfonts.in/css/advine");
@import url("https://www.nobadfonts.in/css/moldin");
@import url("https://www.nobadfonts.in/css/rayton-brink");
@import url("https://www.nobadfonts.in/css/hatori");
@import url("https://www.nobadfonts.in/css/devina-garden");
@import url("https://www.nobadfonts.in/css/thunder");
@import url("https://www.nobadfonts.in/css/reign");
@import url("https://www.nobadfonts.in/css/categories-elegant");
@import url("https://www.nobadfonts.in/css/chunko-bold");
@import url("https://www.nobadfonts.in/css/nobulina");
@import url("https://www.nobadfonts.in/css/kunatic");
@import url("https://www.nobadfonts.in/css/lct-mogi");
@import url("https://www.nobadfonts.in/css/gendy-npr2");
@import url("https://www.nobadfonts.in/css/bold-mype-eeyq");

@theme {
  --font-bold-mype-eeyq: "BOLD MYPE", sans-serif;
}

@theme {
  --font-gendy-npr2: "Gendy", sans-serif;
}

@theme {
  --font-lct-mogi: "LCT-Mogi", sans-serif;
}

@theme {
  --font-kunatic: "Kunatic", sans-serif;
}

@theme {
  --font-nobulina: "Nobulina", sans-serif;
}

@theme {
  --font-chunko-bold: "Chunko Bold", sans-serif;
}

@theme {
  --font-categories-elegant: "Categories Elegant", sans-serif;
}

@theme {
  --font-reign: "Reign", sans-serif;
}

@theme {
  --font-thunder: "Thunder", sans-serif;
}
@theme {
  --font-devina-garden: "Devina Garden", sans-serif;
}

@theme {
  --font-hatori: "HATORI", sans-serif;
}

@theme {
  --font-rayton-brink: "Rayton Brink", sans-serif;
}

@theme {
  --font-moldin: "Moldin", sans-serif;
}

@theme {
  --font-advine: "Advine", sans-serif;
}

@theme {
  --font-firstly: "Firstly", sans-serif;
}

@theme {
  --font-game-paused: "Game Paused", sans-serif;
}

@theme {
  --font-gf-krater: "GF Krater", sans-serif;
}
@theme {
  --font-quivert: "Quivert", sans-serif;
}

@theme {
  --font-rockinsoda: "Rockinsoda", sans-serif;
}

@theme {
  --font-dx-gaster: "Dx Gaster", sans-serif;
}

@theme {
  --font-dx-lactos: "Dx Lactos", sans-serif;
}

@theme {
  --font-dx-alegant: "Dx Alegant", sans-serif;
}

@theme {
  --font-cigra: "Cigra", sans-serif;
}
 
/* Font: Abc Gravity (Added via NoBadFonts CLI) */

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Variable.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Variable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Upright Variable.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Upright Variable.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Italic Variable.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Italic Variable.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-XXXX Compressed Italic.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-XXXX Compressed Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-XXX Compressed Italic.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-XXX Compressed Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Wide Italic.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Wide Italic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Extra Condenced Italic.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Extra Condenced Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Condensed Italic.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Condensed Italic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-XX Compressed.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-XX Compressed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Semi Condensed.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Semi Condensed.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Extended.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Extended.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Compressed.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Compressed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-XXXX Compressed.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-XXXX Compressed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-XX Compressed Italic.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-XX Compressed Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Semi Condensed Italic.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Semi Condensed Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Extended Italic.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Extended Italic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Compressed Italic.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Compressed Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-X Compressed.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-X Compressed.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Normal.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Normal.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Expanded.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Expanded.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-XXX Compressed.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-XXX Compressed.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-X Compressed Italic.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-X Compressed Italic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Normal Italic.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Normal Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Expanded Italic.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Expanded Italic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Wide.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Wide.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Extra Condenced.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Extra Condenced.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
                

@font-face {
  font-family: 'Abc Gravity';
  src: url('/fonts/abc-gravity/abc-gravity-Condensed.woff2') format('woff2'),
       url('/fonts/abc-gravity/abc-gravity-Condensed.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
                

@theme {
  --font-abc-gravity: "Abc Gravity", sans-serif;
}
    